<a href="https://colab.research.google.com/github/sy831/Temp/blob/master/SNU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1주차 - 교과목 소개 & 파이썬 소개
'''
프로그래밍 개요
기본자료형 - int/float
'''

- int : 정수형 
- float : 실수형(부동소숫점형)
- int 타입과 float 타입의 연산은 float타입으로 계산됨
 + 문자열(string)은 다음 시간에 다루기로 함

In [109]:
#코드 셀 code shell
a = 1
b = 1.0
print(type(a),type(b))
print(a,b)
print(f'{a}, {b}는 다른 타입을 갖는다')
sum=a+b
print(sum)

print(f'{a}와/과 {b}를 더한 값 {sum}은 {type(sum)} 타입이 된다.')

<class 'int'> <class 'float'>
1 1.0
1, 1.0는 다른 타입을 갖는다
2.0
1와/과 1.0를 더한 값 2.0은 <class 'float'> 타입이 된다.

기본 연산


> 

*   덧셈 : +

*   뺄셈 : -
 
*  곱셈 : *
* 나눗셈 : /
* n 제곱 : ** n
* 몫 : //
* 나머지 : %

In [110]:
a = 100
b = 3
plus = a + b
substract = a - b
div = a/b
power = a ** b
quot = a//b
remainder = a%b
print(f'{a}와 {b}의 덧셈 {plus}, 뺄셈 {substract}, 나눗셈 {div}, 제곱 {power}, 몫 {quot}, 나머지{remainder}')

100와 3의 덧셈 103, 뺄셈 97, 나눗셈 33.333333333333336, 제곱 1000000, 몫 33, 나머지1

# 2주차 - 파이썬 둘러보기



> - 변수 선언
- 기본자료형 : bool, string

In [111]:
# 변수(variable) = 값(value)
# string

hello = '안녕하세요'
print(hello)

안녕하세요

In [112]:
# string 에서 + 는 두개의 문자열을 이어주는 연결 함수 concatenation이다.  
print(hello + '!' + ' vs ' + hello + '?' )

안녕하세요! vs 안녕하세요?

bool 타입 관련 함수
 # and
 # or
 # not

bool 타입 관련 연산자

- # <
- # >
- # <=
- # >=
- # ==
- # !=

In [113]:
# bool

a = 5
b = 8
#a == b
#a == 5

In [114]:
#bool 타입 관련 함수

a < b
#a > b
#not a < b

True

숫자를 제외한 서로 다른 데이터 타입은 비교대상이 되지 않음 

Flase 로 리턴함

In [115]:
a == 5.0
#a == '5'

True

In [116]:
input_a = input("정수 a를 입력하세요 : ")
input_b = input("정수 b를 입력하세요 : ")
conc = input_a + input_b
print("입력하신 숫자의 연결은 " + conc + "입니다.")
a=int(input_a)
b=int(input_b)
sum = a + b
str_sum=str(sum)
#sum = input_a + input_b
print("입력하신 숫자의 합은 " + str_sum + "입니다.") #스트링 연결
print(f"입력하신 숫자의 합은 {sum}입니다" ) #혼합구조 한번에 출력
#print("입력하신 숫자의 합은",sum,'입니다') #스트링과 정수형 출력

정수 a를 입력하세요 : 3
정수 b를 입력하세요 : 7
입력하신 숫자의 연결은 37입니다.
입력하신 숫자의 합은 10입니다.
입력하신 숫자의 합은 10입니다

# 3주차 - 조건문
+ if 
+ if / else
+ if / elif / else

In [117]:
# 조건문을 사용할 때는 들여쓰기와 콜론(:) 사용에 유의할 것
# 다음 내용을 살펴보자.
# 점수가 40점 이상이면 pass.
print('당신의 점수를 입력하세요.')
score=int(input())
if score >= 40:
    print('당신은 pass했습니다.')

당신의 점수를 입력하세요.
36

In [118]:
# 점수가 40점 이상이면 pass, 아니면 non-pass.
print('당신의 점수를 입력하세요.')
score=int(input())
if score >= 40:
    print('당신은 pass했습니다.')
else : print('당신은 nonpass했습니다.')

당신의 점수를 입력하세요.
46
당신은 pass했습니다.

In [119]:
# 점수가 90점 이상이면 A, 75점 이상이면 B, 60점 이상이면 C, 40점 이상이면 D, 아니면 F.
print('당신의 점수를 입력하세요.')
score=int(input())
if score >= 90:
    print('당신은 A학점입니다.')
elif score >= 75:
    print('당신은 B학점입니다.') 
elif score >= 60:
    print('당신은 C학점입니다.') 
elif score >= 40:
    print('당신은 D학점입니다.') 
else : print('당신은 F학점입니다')

당신의 점수를 입력하세요.
36
당신은 F학점입니다

# 4주차 - 반복문
+ while
+ for

In [120]:
# 변수 업데이트
x = 1
x = x + 1
print(x)

2

In [121]:
# while 반복문
# while 반복문도 들여쓰기와 콜론의 사용에 유의한다.
# 6월 21일 카운트다운을 한 후 발사에 성공한 누리호. 카운트다운을 while을 활용하여 나타내자.
# 무한루프가 나타나지 않도록 종결되는 구문으로 만들어야 함.

n = 10
while n > 1:
  print(n)
  n = n - 1
print("엔진점화 \n이륙")

10
9
8
7
6
5
4
3
2
엔진점화
이륙

In [122]:
# for 반복문
# 반복 횟수를 알고 있을 때 사용가능
'''
for 항목변수 in 문자열(또는 리스트, 튜플) :
      수행코드1
      수행코드2
'''
# 40점 이상이면 합격, 아니면 불합격이라 하자. 5명의 학생의 점수가 다음과 같을 때 각각의 학생이 합격인지 불합격인지 출력하기.
# 아래의 %d는 정수형 데이터를 문자열과 출력할 때 사용한다.
score_list = [ 80, 30, 76, 24, 99]
no = 0 
for score in score_list: 
    no = no +1 
    if score >= 80:
        print(f'{no}번 학생은 합격입니다.') 
    else: 
        print(f'{no}번 학생은 불합격입니다.')

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 불합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [123]:
# continue 활용
score_list = [ 80, 30, 76, 24, 99]
no = 0 
for score in score_list: 
    no = no +1 
    if score < 80:
      continue 
    print(f'{no}번 학생 축하합니다. 합격입니다.')

1번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [124]:
# range()를 활용한 for반복문
# range(n)은 n미만의 숫자 리스트를 생성함. range(n)==range(0,n)
x_list = range(5)
for x in x_list :
    print(f'{x}의 세제곱은 {x**3}이다.')

0의 세제곱은 0이다.
1의 세제곱은 1이다.
2의 세제곱은 8이다.
3의 세제곱은 27이다.
4의 세제곱은 64이다.

In [125]:
# 구구단에 활용
x_list = range(2,10) 
for x in x_list:              #x단을 위한 for 
    for n in range(1, 10):    #x단의 n번째 값을 위한 for
        print(x*n, end=" ")   #" " 는 같은 n단을 한줄에 표기.
    print('')                 #' '는 n, n+1단의 줄바꿈을 위해.

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81